<%
    for (var j = 0; j < entries.length; j++) {
        var entry = entries[j];
        %><p>
            <a href="/<%= entry.renderpath %>"><%= entry.metadata.title %></a>
            <% if (entry.teaser) { %><%= entry.teaser %><% } %>
        </p><%
    }
%>