<%
    for (var j = 0; j < entries.length; j++) {
        var entry = entries[j];
        %><p>
            <strong>
            <a href="/<%= entry.renderPath %>"><%=
                 entry.metadata.title 
            %></a></strong><% 
             if (entry.teaser) { %>: <%- entry.teaser %><% } %>
        </p><%
    }
%>