<div <%
    if (typeof id !== 'undefined') {
        %>id="<%= id %>"<%
    } else {
        %>id="tagged-content-tags"<%
    }
    if (typeof clazz !== 'undefined') { %>class="<%= clazz %>"<% }
    if (typeof style !== 'undefined') { %>style="<%= style %>"<% }
    %>>
    <%- tagCloud %>
</div>
